<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color:#000000">
    <a [routerLink]="['/main']" class="navbar-brand"><img src="./assets/img/logo.svg" alt="logo" class="img-fluid" width="80px" height="100px"></a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span class="navbar-toggler-icon"></span></button>


    <div class="collapse navbar-collapse" id="responsive">
        <ul class="navbar-nav mr-auto text-capitalize">
            <li class="nav-item"><a [routerLink]="['/main']" class="nav-link active">Muro</a></li>
            <li class="nav-item"><a href="profile.html" class="nav-link">profile</a></li>
            <li class="nav-item"><a href="#modalview" class="nav-link" data-toggle="modal">messages</a></li>
            <li class="nav-item"><a href="notification.html" class="nav-link">docs</a></li>
            @if (authenticated()){
                <li class="nav-item"><a href="#" class="nav-link" (click)="logout()">logout</a></li>
            }
            

        </ul>

        <form action="" class="form-inline ml-auto d-none d-md-block">
            <input type="text" name="search" id="search" placeholder="Search" class="form-control form-control-sm">
        </form>
        <a href="notification.html" class="text-decoration-none" style="color:#CBE4F2;font-size:22px;"><i class="far fa-bell ml-3 d-none d-md-block"></i></a> 
        <img src="./assets/img/avatar-dhg.png" alt="" class="rounded-circle ml-3 d-none d-md-block" width="32px" height="32px">
        @if (authenticated()){
            <button class="btn btn-warning ml-3 d-none d-md-block" (click)="logout()">logout</button>
        }@else{
            <button class="btn btn-warning ml-3 d-none d-md-block" (click)="login()">Login</button>
        }
        
    </div>
</nav>
